
    <%- include ('partials/navbar.ejs') %>

  <div class="container">

    <br>
    <div class="text-center"><h2>Feedback from Users</h2></div>
    <br>
    <table class="table table-hover small text-center">
        <thead>
            <tr>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Feedback</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < feedback.length; i++) { %>
                <tr>
                    <td><%= feedback[i].email %></td>
                    <td><%= feedback[i].phone_number %></td>
                    <td><%= feedback[i].feedback %></td>

                    <td>
                        <a href="/deleteFeedback/<%= feedback[i].feedbackId %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this feedback from <%= feedback[i].email %>?')">Delete</a>
                    </td>
                </tr>
            <% } %>
        </tbody>

    </table>
  </div>
  
  <br>

</body>

</html>