<%- include ('partials/navbar.ejs') %>

  <% if ( session.user && session.user.userRole==="admin" ) { %>
    <li class="nav-item">
      <a class="nav-link" href="/orders">Orders</a>
    </li>
    <% } else{ %>
      <li class="nav-item">
        <a class="nav-link" href="/myOrders">Orders</a>
      </li>
      <% } %>

      
    <div class="container">
      <div class="text-center"><h2>My Profile</h2></div>
      <br>
      <table class="table table-hover small text-center">
        <thead>
            <tr>
              <th width="50">Image</th>
              <th width="100">Username</th>
              <th width="100">Email</th> 
              <th width="100">Role</th>              
              <th width="50">Edit</th>

            </tr>
        </thead>
        <tbody>
<tr>
              <td><img src = "/image/<%= userProfile.UserImage %>" width="80%"></td>
              <td><%= userProfile.userName %></td>             
              <td><%= userProfile.userEmail %></td>
              <td><%= userProfile.userRole %></td>
              <!-- Edit Link -->
              <td><a href="/editMyself">Edit</a></td>
                          </tr>

        </tbody>
      </table>
    </div>
</body>
</html>